table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

th {
  font-weight: bold;
  color: #808080;
  font-size: .75rem;
}

tr:nth-child(even) {
  background-color: #ccc
}


table, th, td {
  border: 1px solid #000;
}
