table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

th {
  font-weight: bold;
  color: #808080;
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: #ccc
}

td {
  margin-left: 2rem;
}


table, th, td {
  border: 1px solid #000;
}

carregando {
  text-align: center;
  font-size: 2.2em;
  margin-top: 20%;
  letter-spacing: 2px;
}

h4 {
  font-size: 3rem;
  color: aliceblue;
  background-color: #000;
}
